<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ankieta</title>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
<h1>Ankieta - Wybierz swoją ulubioną dzielnicę Poznania</h1>
<form action="/wynik2" method="POST">
<div th:each="instance,iter : ${choicesCounterUploadFromUI}">
     <input type="radio" name="district" th:value="${instance.key}" th:checked="(${iter.index} == 0)"/><span th:text="${instance.key}"></span><br></br>
</div>
	
	<input type="submit" value="Zagłosuj"/>
</form>
</body>
</html>